body{

    background-color: antiquewhite;
}
h1{
    text-align: center;
    color: blueviolet;
}
.pros{
    color: brown;
    text-align: justify;
}
h2{

    color: aqua;
}
div{

background-color: beige;


}
p{
    color:brown;
    font-style: italic;
}